::-webkit-input-placeholder {
   color: #E2E1E1;
}

#container{
    border-color: #ABA7A7;
    background-color:#ECF3F3;
    padding-bottom:50px;
    min-height: 585px;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-bottom: solid 1px;
    border-color: #CCC6C6;
}

li {
    float: right;
}

li a {
    display: block;
    color: #5F5858;
    text-align: center;
    padding: 6px 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    width:60px;
    border-bottom:solid;
    border-color:white;
}

.active {
    color:#ECABB0;
     }

a:hover {
    color:#ECABB0;
    border-color:#ECABB0;
}

#image-box{
    width:100%;
    height:20%
    }

.background {
    position: relative;
    top: 0;
    left: 0;
    }

#username{
    position:absolute;
    top: 210px;
    left: 10%;
    font-size:20px;
    color:white;
    margin-left: 170px;
    font-size: 23px;
    font-family: 'Droid Sans', sans-serif;

    }

.followers{
    font-family: 'Oxygen', sans-serif;
    padding-bottom: 10px;
    padding-left: 9px;
    width: 18.5%;
    border-color: #BDC7C4;
    margin-top: 80px;
    color: #ECABB0;
    font-size: 14px;
    padding-right: 5px;
    font-weight:bold;
    }

.follower_tab{
    text-decoration:none;
    color:#4AC3A8;
    padding-left: 21px;
    }

.following_tab{
    text-decoration:none;
    padding-left: 40px;
    color:#4AC3A8;
    }


.user {
    position: absolute;
    top: 150px;
    left: 4%;
}

.user_profile #update_image {
position: absolute;
top: 295px;
left: 85px;
visibility: hidden;
border: solid 1px;
padding: 2px;
background-color: black;
color: white;
border-radius: 5px;
text-decoration: none;
}

.user_profile:hover #update_image {
visibility:visible;
}

.message-box{
    margin-top:2%;
    margin-left: 2%;
    height: 80px;
    width: 959px;
    border: solid 1px;
    border-color: #D4E2E2;
    border-radius: 5px;
    color: #807C7C;
    font-size: 15px;
    padding-left: 20px;
      }

input:focus {
    outline:0;
    }

button:focus {
    outline:0;
    }

#btn-tweet:hover{
    background-color:white;
    color:#EA6B75;
    }

#btn-tweet{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    background-color: #ECABB0;
    border-color: transparent;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 86.7%;
    margin-top: 1%;
        }


#tweet-box{
    background-color:white;
    width: 73.5%;
    margin-left:21%;
    margin-top: 2%;
    border-radius:5px;
    padding-bottom:10px;
    }


#tweet-post{
    font-size: 20px;
    color: #615E5E;
    padding-left: 5px;
    padding-top:10px;
    padding-top: 5px;
    font-family: 'Josefin Sans', sans-serif;
    word-wrap: break-word;
    }

#time{
    font-size: 15px;
    padding-left: 10px;
    font-family: serif;
    color: #ABAAAA;
    width:100%;
    height:20px;
    padding-top:10px;
    border-bottom: solid 1px;
    border-color: #ECF3F3;
    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 5px;
    height:250px;
}

/* The Close Button */
.close {
    color: #aaa;
    background-color:white;
    border:none;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.follow_button{
    background-color: #EA6B75;
    border-radius: 4px;
    border: transparent;
    color: white;
    padding: 10px;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: 800%;
    margin-top: 50px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}


.follow_button:hover{
    text-decoration:underline;
    }