::-webkit-input-placeholder {
   color: #E2E1E1;
}

/* For 1500px or less */
@media screen and (max-width: 5000px){

#container{
    border-color: #ABA7A7;
    background-color:#ECF3F3;
    padding-bottom:50px;
    min-height: 700px;
    margin: 0 auto;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-bottom: solid 1px;
    border-color: #CCC6C6;
}

li {
    float: right;
}

li a {
    display: block;
    color: #5F5858;
    text-align: center;
    padding: 6px 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    width:60px;
    border-bottom:solid;
    border-color:white;
}

.active {
    color:#ECABB0;
     }

a:hover {
    color:#ECABB0;
    border-color:#ECABB0;
}

#image-box{
    width:100%;
    height:20%
    }

.background {
    position: relative;
    top: 0;
    left: 0;
    }

#username{
    position:absolute;
    top: 34%;
    left: 180px;
    font-size:20px;
    color:white;
    margin-left: 12%;
    font-size: 23px;
    font-family: 'Droid Sans', sans-serif;

    }

.header{
    width:100%;
    display:flex;
    position: relative;
    }

.followers{
    font-family: 'Oxygen', sans-serif;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 18.5%;
    border-color: #BDC7C4;
    margin-top: 5%;
    color: #ECABB0;
    font-size: 14px;
    font-weight:bold;
    display:flex;
    }

.follower_tab{
    text-decoration:none;
    color:#4AC3A8;
    padding-left: 2%;
    }

.following_tab{
    text-decoration:none;
    padding-left: 40px;
    color:#4AC3A8;
    }


.user_profile {
    position: absolute;
    top: 25%;
    left: 2.5%;
    width:220px;
    height:220px;
    height:auto;
}

.user{
    border: solid 5px;
    border-radius: 49%;
    border-color: white;
    position: relative;
    }

.user_profile #update_image {
    position: absolute;
    top: 43%;
    left: 16%;
    visibility: hidden;
    border: solid 1px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.user_profile:hover #update_image {
    visibility:visible;
}

.message-box{
    margin-top:2%;
    margin-left: 2%;
    height: 80px;
    width: 89.5%;
    border: solid 1px;
    border-color: #D4E2E2;
    border-radius: 5px;
    color: #807C7C;
    font-size: 15px;
    padding-left: 20px;
    margin-right: 15%;
      }

input:focus {
    outline:0;
    }

button:focus {
    outline:0;
    }

#btn-tweet:hover{
    background-color:white;
    color:#EA6B75;
    }

#btn-tweet{
    height: 30px;
    width: 12.5%;
    border-radius: 5px;
    background-color: #ECABB0;
    border-color: transparent;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 80%;
    margin-top: 1%;
    cursor: pointer;
    margin-right: 15%;
        }


#tweet-box{
    background-color:white;
    width: 73.5%;
    margin-left:21%;
    margin-top: 2%;
    border-radius:5px;
    padding-bottom:10px;
    }


#tweet-post{
    font-size: 18px;
    color: #615E5E;
    padding-left: 5px;
    padding-top:10px;
    padding-top: 5px;
    font-family: 'Josefin Sans', sans-serif;
    word-wrap: break-word;
    }

#time{
    font-size: 15px;
    padding-left: 10px;
    font-family: serif;
    color: #ABAAAA;
    width:100%;
    height:20px;
    padding-top:10px;
    border-bottom: solid 1px;
    border-color: #ECF3F3;
    }

.delete-tweet{
    float: right;
    margin-top: 5px;
    margin-right: 15px;
    background-image: url('/static/delete1.png');
    background-color: transparent;
    width: 15px;
    cursor: pointer;
    background-size: 15px;
    border: none;
    background-repeat: no-repeat;
    height: 15px;
        }
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 5px;
}

/* The Close Button */
.close {
    color: #aaa;
    background-color:white;
    border:none;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.follow_button{
    background-color: #EA6B75;
    border-radius: 4px;
    border: transparent;
    color: white;
    padding: 10px;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: 750px;
    margin-top: 50px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}


.follow_button:hover{
    text-decoration:underline;
    }

}

@media screen and (max-width: 480px){
    .user {
        display: none;
    }
    .message-box{
        margin-top: 2%;
        margin-left: 21%;
        height: 50px;
        width: 260px;
        border: solid 1px;
        border-color: #D4E2E2;
        border-radius: 5px;
        color: #807C7C;
        font-size: 15px;
        padding-left: 20px;
          }

    #btn-tweet {
        height: 20px;
        width: 15%;
        border-radius: 5px;
        background-color: #ECABB0;
        border-color: transparent;
        color: white;
        font-family: sans-serif;
        font-size: 14px;
        margin-left: 79%;
        margin-top: 1%;
    }
    #username {
        position: absolute;
        top: 35%;
        margin-left: 50px;
        font-family: 'Droid Sans', sans-serif;
    }

    .header {
        display:block;
        }

    .followers{
        font-family: 'Oxygen', sans-serif;
        border-color: #BDC7C4;
        color: #ECABB0;
        font-size: 10px;
        font-weight:bold;
        display: flex;
        margin-left:130px;
        }

    #image-box{
        width:100%;
        height:10%;
        }
}

/*@media screen and (max-width: 1280px){
    .message-box{
            margin-top: 2%;
            height: 70px;
            width: 900px;
            border: solid 1px;
            border-color: #D4E2E2;
            border-radius: 5px;
            color: #807C7C;
            font-size: 15px;
            padding-left: 20px;
              }
}
*/