<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="icon" href="{{ url_for('static',filename='red-bird-icon.png') }}">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static',filename='profile.css') }}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
        $('.follow_button').click(function(){
            var element = $(this);
            if (element.val() === 'Follow'){
                var user_id = $(this).attr('user_id');
                $.ajax({
                    url:'/follow',
                    data:{'uid':user_id},
                    type:'post',
                    success:function(response){
                        if(response["message"] === "success"){
                            $(element).css('background-color','#4AC3A8');
                            $(element).val('Unfollow');
                        }
                    }
                    });
            }
            else{
                var element = $(this);
                var user_id = $(this).attr('user_id');
                $.ajax({
                    url:'/unfollow',
                    data:{'uid':user_id},
                    type:'post',
                    success:function(response){
                        if(response["message"] === "success"){
                            $(element).css('background-color','#EA6B75');
                            $(element).val('Follow');
                        }
                    }
                    });
            }
            });
    });
    </script>
</head>
<body>
<div id="container" class="container">
    <div class="nav-bar">
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li><a href="{{ url_for('logout') }}" style="cursor:pointer;">Logout</a></li>
                <li><a href="{{ url_for('find_user') }}" style="cursor:pointer; width: 90px;">Find Friends</a></li>
                <li><a href="{{ url_for('profile',uid=user_id) }}" style="cursor:pointer;">Profile</a></li>
                <li><a href="{{ url_for('wall')}}" style="cursor:pointer;">Home</a></li>
            </ul>
        </div>
    </div>
    <div id="image-box">
        <img class="background" src="{{ url_for('static',filename='background1.jpg') }}" alt="background-image" width="100%">
        <div id="username">
            <h2>{{ username }}</h2>
        </div>
        <div class="user_profile">
            {% if profile_pic %}
            <img class="user" id="imgUpload" src="{{ url_for('static',filename = profile_pic) }}" alt="user-image" width="100%" height="220px">
            {% else %}
            <img class="user" src="{{ url_for('static',filename='user.png') }}" alt="user-image" width="100%" height="220px">
            {% endif %}
        </div>
    </div>
    <div class="header">
        <div class="followers" style="display:flex;">
            <div class="follower">
                <a class="follower_tab" href="{{ url_for('followers',uid=uid) }}">FOLLOWERS</a>
                <div class="followers_count" style="padding-left: 40%;color: black;font-size: 25px;">{{ followers_count }}</div>
            </div>
            <div class="following">
                <a class="following_tab" href="{{ url_for('following',uid=uid) }}">FOLLOWING</a>
                <div class="followers_count" style="padding-left: 60%;color: black;font-size: 25px;">{{ followings_count }}</div>
            </div>
        </div>
        <div class="follow-unfollow">
            <form>
                {% if is_followed %}
                <input class="follow_button" type="button" value="Unfollow" user_id="{{ uid }}" style="background-color: #4AC3A8;">
                {% else %}
                <input class="follow_button" type="button" value="Follow" user_id="{{ uid }}">
                {% endif %}
            </form>
        </div>
    </div>
    {% for tweet in tweets %}
    {% if tweet[7] != None %}
    <div id="text-container">
        <div class="control-group" id="tweet-box">
            <div class="controls-time" id="time">{{ tweet[8] }}</div>
            <div class="controls" id="tweet-post"> {{ tweet[7] }}</div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>
</body>
</html>