<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Followers</title>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static',filename='users.css') }}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $('.follow_button').click(function(){
             var element = $(this);
             var user_id = $(this).attr('user_id');
             $.ajax({
                 url:'unfollow',
                 data:{'uid':user_id},
                 type:'post',
                 success:function(response){
                     if(response["message"] === "success"){
                         $(element).css('background-color','#EA6B75');
                         $(element).val('Follow');
                     }
                 }
             });
        });
    });
    </script>
</head>
<body>
<div id="container" class="container">
    <div class="nav-bar">
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{ url_for('profile')}}">Profile</a></li>
            </ul>
        </div>
    </div>
    <div class="container-detail" id="user-detail">
        {% for user in users %}
        <div class="control-group" id="box">
            <div class="user_info" style="display:inline-flex;width:100%">
                <div class="photo" id="profile_pic" style="width: 30%;">
                    {% if user[4] %}
                    <img class="user" id="img" src="{{ url_for('static',filename = user[4]) }}" alt="user-image" style="width:80px;height:80px;border-radius: 49%;padding:10px;">
                    {% else %}
                    <img class="user" src="{{ url_for('static',filename='user.png') }}" alt="user-image" style="width:80px;border-radius: 49%;padding:10px;">
                    {% endif %}
                </div>
                <div style="padding-left: 10px;word-wrap: break-word;width:70%;">
                    <div class="username" id="name">{{ user[1] }}</div>
                    <div class="email" id="email-detail" style="color: #615E5E;"> {{ user[2] }}</div>
                    <form>
                        <input class="follow_button" type="button" value="Unfollow" user_id="{{ user[0] }}" style="background-color: #4AC3A8;">
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>

