<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter-Clone App</title>
    <link href="{{ url_for('static',filename='layout.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <div class="container">
        <div class="header">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="{{ url_for('signup') }}" style="cursor:pointer;width: 70px">Sign Up</a></li>
                    <li><a href="{{ url_for('login') }}" style="cursor:pointer">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="image">
        <img src="{{ url_for('static',filename='bird.png') }}" alt="image" style="width: 120px;height: 120px;padding-left: 45% ;padding-top: 20px;">
    </div>
    <div class="container-box">
        <h1>Twitter-Clone App</h1>
        <div class="signup-button">
            <a class="btn btn-lg btn-success" id="sign-up" role="button" href="signup">Sign up today</a>
        </div>
    </div>
</div>
</body>
</html>

