<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='logout.css') }}">
</head>
<body>
<div id="container">
    <div class="header">
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li ><a href="{{ url_for('signup') }}">Sign Up</a></li>
                <li class="active"><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('home') }}">Home</a></li>
            </ul>
        </div>
    </div>
    <div class="control-group" id="container-data">
        <div id="row">
            <div id="row-heading"> Logged Out Successfully, please login again. </div>
        </div>
    </div>
</div>
</body>
</html>