<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static',filename='profile.css') }}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#upload-image')
                    .attr('src', e.target.result)
                    .width(100)
                    .height(100);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $(document).ready(function(){
        $('.upload').click(function(){
             var form_data = new FormData($('#upload-file')[0])
             console.log(form_data);
             $.ajax({
                 url:'/upload',
                 type:'post',
                 data: form_data,
                 contentType: false,
                 cache: false,
                 processData: false,
                 async: false,
                 success: function(response) {
                    if(response["message"] === "success"){
                        console.log('Success!');
                        $('#show').show();
                        setTimeout(function(){//
                            location.reload(); // then reload the page.(3)
                        });
                     }
                    else{
                        $('#failure').show();
                        }
                 }
             });
        });
    });
    </script>
</head>
<body>
<div id="container" class="container">
    <div class="nav-bar">
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li><a href="{{ url_for('logout') }}" style="cursor:all-scroll;">Logout</a></li>
                <li><a href="{{ url_for('find_user') }}" style="cursor:all-scroll;">Search</a></li>
                <li class="active" id="home"><a href="" style="cursor:all-scroll;">Profile</a></li>
                <li><a href="{{ url_for('wall')}}" style="cursor:all-scroll;">Home</a></li>
            </ul>
        </div>
    </div>
    <div id="image-box">
        <img class="background" src="{{ url_for('static',filename='background1.jpg') }}" alt="background-image" style="height:250px;width:100%">
        <div id="username">
            <h2>{{ username }}</h2>
        </div>
        <div style="width:100%;display:flex">
            <div class="followers">
                <a class="follower_tab" href="{{ url_for('followers',uid=uid) }}">FOLLOWERS</a>
                <a class="following_tab" href="{{ url_for('following',uid=uid) }}">FOLLOWING</a>
            </div>
            <div id="input-box">
                <form action="/tweet" method="POST">
                    <input class="message-box" placeholder="What's on your mind?" name="input_tweet"/>
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-success" id="btn-tweet" value="Tweet"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% for tweet in tweets %}
        <div class="user_profile">
            {% if tweet[4] %}
            <img class="user" id="imgUpload" src="{{ url_for('static',filename = tweet[4]) }}" alt="user-image" style="width:200px;height:200px;border-radius: 49%;border: solid 5px;border-color: #EEAE67;">
            {% else %}
            <img class="user" src="{{ url_for('static',filename='user.png') }}" alt="user-image" style="width:200px;border-radius: 49%;border: solid 5px;border-color: #EEAE67;">
            {% endif %}
            <a data-target="#myModal" data-toggle="modal" class="MainNavText" id="update_image" href="#myModal">Update profile picture</a>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <form id="upload-file" method="POST" enctype="multipart/form-data" >
                                <hi style="font-size: 30px;font-family: sans-serif;">Upload Profile Picture</hi>
                                <div style="display: table-caption;">
                                    <input class="file" type=file name=photo onchange="readURL(this);" accept="image/*" style="margin-top: 10px;">
                                    <img id="upload-image" src="#" alt="your image" style="margin-top:10px;" />
                                    <input class="upload" type=button value=Upload style="position: absolute;top: 450px;left: 400px;">
                                </div>
                                <p id="show" style="display:none;color:green;">Upload Successful!!</p>
                                <p id="failure" style="display:none;color:red;">Upload Failure!!</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if tweet[8] != None %}
        <div id="text-container">
            <div class="control-group" id="tweet-box">
                <div class="controls-time" id="time">{{ tweet[8] }}</div>
                <div class="controls" id="tweet-post"> {{ tweet[7] }}</div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
</body>
</html>

