<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link href="{{ url_for('static',filename='layout.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <div class="container-box">
        <h1>Twitter-Clone App</h1>
        <p class="lead"></p>
        <form method="POST" action="/signup">
            <button type="submit">Sign up today</button>
        </form>

        <form method="POST" action="/login">
            <button type="submit">Log In</button>
        </form>

        <form action="/logout" method="GET">
            <button type="submit">Log Out</button>
        </form>


        <form method="GET" action="/profile">
            <button type="submit">Profile</button>
        </form>
    </div>
</div>
</body>
</html>



